/* For Tablets */
@media all and (max-width: 1000px) {

  /*----- Header -----*/
  
  /*----- Content 1 -----*/

  .content-1 {
    padding-top: 80px;
  }

  .container {
    padding: 0 40px;
    margin: 0 auto;
  }

  .heading-1 h1 {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 24px;
  }

  .column-1 {
    float: left;
    width: 60%;
  }

  .column-2 {
    width: auto;
    height: auto;
    left: 550px;
  }

  .picture {
    position: absolute;
    width: 400px;
    height: 400px;
  }

  .picture-bot {
    position: absolute;
    width: 400px;
    height: 400px;
    opacity: 0;
  }

  .description p {
    padding-top: px;
    margin: 0.5px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 12px;
  }

  /*----- Content 2 -----*/


  
  /*----- Content 3 -----*/

  .card-container .card-1, .card-container .card-2, .card-container .card-3{
    width: 50%;
  }

  /*----- Footer -----*/

  footer {
    text-align: center;
  }

  footer .fa {
    font-size: 20px;
  }

  .footer-contact {
    margin-right: 100px;
  }

  .footer-contact p {
    font-size: 18px;
  }

  .footer-logo img {
    width: 150px;
  }

  .copyright {
    font-size: 12px;
  }

}

/* For Smartphones */
@media all and (max-width: 670px) {

  /*----- Header -----*/
  
  /*----- Content 1 -----*/

  .container {
    padding: 0 30px;
    margin: 0 auto;
  }

  .heading-1 h1 {
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 15px;
  }
  .column-1 {
    float: left;
    width: 60%;
  }

  .column-2 {
    width: auto;
    height: auto;
    left: 200px;
  }

  .picture {
    position: absolute;
    width: 200px;
    height: 200px;
  }

  .picture-bot {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0;
  }

  .description p {
    padding-top: px;
    margin: 0.5px;
    letter-spacing: 0.8px;
    font-weight: 300;
    font-size: 8px;
  }

  /*----- Content 2 -----*/


  
  /*----- Content 3 -----*/

  .card-container {
    display: flex;
    flex-direction: column;
  }
  
  .card-container .card-1, .card-container .card-2, .card-container .card-3{
    width: 100%;
    margin: 25px auto;
  }

  /*----- Footer -----*/

  .footer-contact {
    margin-right: auto;
  }

  footer .fa {
    font-size: 20px;
  }

  .footer-contact p {
    font-size: 14px;
  }

  .footer-logo img {
    width: 100px;
  }

  .copyright {
    font-size: 12px;
  }
}